body {
    background: radial-gradient(circle, rgba(31,21,175,1) 0%, rgba(139,0,255,1) 78%);
    font: bold 20px Arial;
    
}

header {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

div {
    text-align: center;
    padding: 9px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}